@page "/register"

@using TourManageDb.DTO
@using TourManageDb.Interface

@inject IUserService UserService
@inject NavigationManager Nav

<h3>Register</h3>
<hr />

<EditForm Model="user" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <!-- First Name -->
    <div class="form-group">
        <label>First Name</label>
        <InputText class="form-control"
                   @bind-Value="user.FirstName" />
        <ValidationMessage For="@(() => user.FirstName)" />

    </div>

    <!-- Last Name -->
    <div class="form-group">
        <label>Last Name</label>
        <InputText class="form-control"
                   @bind-Value="user.LastName" />
        <ValidationMessage For="@(() => user.LastName)" />
    </div>

    <!-- Username -->
    <div class="form-group">
        <label>Username</label>
        <InputText class="form-control"
                   @bind-Value="user.UserName" />
        <ValidationMessage For="@(() => user.UserName)" />
    </div>

    <!-- Email -->
    <div class="form-group">
        <label>Email</label>
        <InputText class="form-control"
                   @bind-Value="user.Email" />
        <ValidationMessage For="@(() => user.Email)" />
    </div>

    <!-- Phone Number -->
    <div class="form-group">
        <label>Phone Number</label>
        <InputText class="form-control"
                     @bind-Value="user.PhoneNumber" />
        <ValidationMessage For="@(() => user.PhoneNumber)" />
    </div>

    <!-- Gender -->
    <div class="form-group">
        <label>Gender</label>

        <InputRadioGroup @bind-Value="user.Gender">

            <div class="form-check">
                <InputRadio class="form-check-input" Value="@("Male")" />
                <label class="form-check-label">Male</label>
            </div>

            <div class="form-check">
                <InputRadio class="form-check-input" Value="@("Female")" />
                <label class="form-check-label">Female</label>
            </div>

            <div class="form-check">
                <InputRadio class="form-check-input" Value="@("Other")" />
                <label class="form-check-label">Other</label>
            </div>

        </InputRadioGroup>
        <ValidationMessage For="@(() => user.Gender)" />
    </div>

    <!-- Password -->
    <div class="form-group">
        <label>Password</label>
        <InputText type="password"
                   class="form-control"
                   @bind-Value="user.Password" />
        <ValidationMessage For="@(() => user.Password)" />
    </div>

    <button class="btn btn-primary mt-3" disabled="@isSubmitting" >
        Register
    </button>

</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-2">
        @errorMessage
    </div>
}

@code {

    private RegisterDto user = new();
    private string? errorMessage;
    bool isSubmitting;

    private async Task HandleRegister()
    {
        isSubmitting = true;
        var exists = await UserService.EmailExistsAsync(user.Email!);

        if (exists)
        {
            errorMessage = "Email already registered.";
            isSubmitting = false;
            return;
        }

        await UserService.RegisterAsync(user);

        Nav.NavigateTo("/login");
    }

}